# Node.js dependencies
/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# IDE-specific files
.idea/            # JetBrains IDEs (e.g., WebStorm)
.vscode/          # Visual Studio Code

# Environment variables file
.env              # .env files to store sensitive information like database passwords

# Build directories
dist/
build/

# Test coverage reports
coverage/

# Temporary files
*.swp             # Swap files (Vim)
*.swo             # Swap files (Vim)

# Ternjs file
.tern-port

# npm package lock file (if you don't want to track versions of dependencies)
# npm package-lock.json or yarn.lock
npm-debug.log
yarn.lock

# JetBrains IDE files
*.iml
.idea/

# Optional: Exclude .eslintcache file if using ESLint
.eslintcache

# SQL folder
sql/

